* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow: hidden; /* Remove a barra de rolagem, se necessário */
}

header {
    background-color: rgb(24, 24, 24);
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;  
    color: aliceblue;
}

header h1{
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

header a{
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px; 
    list-style: none;
    color: aliceblue;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: white; /* Define a cor do texto dos links como branco */
}

.Container img {
    align-items: center;
    width: 100%; /* Largura total da tela */
    height: auto; /* Mantém a proporção da imagem */
}

.content {
    position: absolute; /* Para sobrepor a imagem */
    top: 20%;
    left: 10%;
    right: 10%;
    text-align: center;
    color: white; /* Cor do texto */
    padding: 20px;
    font-size: 20px;
}

.content h2{
    font-size: 50px;
}

.text p {
    position: absolute;
    top: 45%;
    left: 10%;
    right: 10%;
    text-align: center;
    color: white; /* Cor do texto */
    font-size: 15px; 
}

.img-telefone {
    position: absolute; /* Isso coloca a imagem sobreposta */
    bottom: 10%; /* Ajuste a posição conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    text-align: center; /* Centraliza o conteúdo dentro do div */
}

.img-telefone img {
    width: 50px; /* Defina o tamanho da imagem conforme desejado */
    height: auto; /* Mantém a proporção da imagem */
}

.telefone {
    position: absolute;
    bottom: 5%; /* Ajuste a posição conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    color: aliceblue;
    cursor: pointer;
    text-align: center;
}

/* Para telas de tablets (entre 641px e 1023px) */
@media (min-width: 641px) and (max-width: 1023px) {
    header {
        padding: 10px 40px; 
    }

    .content {
        top: 10%;
        left: 10%;
        right: 10%;
        font-size: 18px;
    }

    .content h2 {
        font-size: 36px;
    }

    .text p {
        top: 35%;
        left: 10%;
        right: 10%;
        font-size: 16px;
    }

    .img-telefone {
        bottom: 15%;
        left: 50%;
    }

    .telefone {
        bottom: 10%;
        left: 50%;
    }
}

/* Para telas de celulares (até 640px) */
@media (max-width: 640px) {
    header {
        padding: 10px 20px; 
    }

    .content {
        top: 15%;
        left: 10%;
        right: 10%;
        font-size: 16px;
    }

    .content h2 {
        font-size: 24px;
    }

    .text p {
        top: 30%;
        left: 10%;
        right: 10%;
        font-size: 14px;
    }

    .img-telefone {
        bottom: 10%;
        left: 50%;
    }

    .telefone {
        bottom: 5%;
        left: 50%;
        font-size: 14px;
    }
}
